.filtros {
  width: 100%;
}

.select-filtros {
  width: 100%;
}

.text-masfiltros {
  align-content: center;
}

.text-encabezados {
  font-size: 15px;
}

.warning-message {
  color: red;
  font-size: 12px;
}